<div class="checkbox">
	<input type="checkbox"/>
	<label for="checkbox">
	    <%= task.name %>
	</label>
</div>
<div class="pull-right action-buttons">
  <a href="#" class="pencil"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
</div>