<% if resource.errors.any?  %>
	$("<%= j(devise_error_messages!) %>").insertBefore(".modal-body-content").fadeOut(3000, function(){
		$(this).remove();
	});
<% else %>
	$("#ajax-modal").modal("hide");
	<% flash.each do |message_type, message| %>
		$("<div class=\"alert alert-<%= message_type %>\"><%= message %></div>").insertBefore(".nav").fadeOut(3000, function(){
			$(this).remove();
		});
	<% end %>
<% end %>
