<div class="panel panel-primary">
    <div class="panel-heading"  data-project_id="<%= project.id %>">
        <%= render 'projects/show', :project => project %>
    </div>
    <div class="panel-body">
      <%= render 'tasks/new', :project_id => project.id %>
        <ul class="list-group">
            <% if project.tasks.any? %>
                <% project.tasks.each do |task| %>
                    <li class="list-group-item">
                        <%= render 'tasks/show', :task => task %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>