var parent = $(".add-lists");
var msg;
<% if @project.errors.any? %>
	msg = $("<%= j(render 'shared/error_messages', :object => @project) %>");
	msg.insertBefore(parent);
  msg.hide(5000, function(){
  	$(this).remove();
  });	
<% else %>
	<% flash.each do |message_type, message| %>
	  msg = $("<div class=\"alert alert-<%= message_type %>\"><%= message %></div>");
	  msg.insertBefore(parent);
	  msg.hide(1500, function(){
	  	$(this).remove();
	  });
	<% end %>
	$("<%= j(render 'shared/project_tasks', :project => @project) %>").insertBefore(parent);
	$(".add-lists #new_project").remove();
	$(".add-lists form").show();
	initialize_tasks();
<% end %>