<% if user_signed_in? %>
  <%= render 'shared/nav_for_users' %>
  <div class="clear"></div>
  <% if current_user.projects.any? %>
      <% current_user.projects.each do |project| %>
         <%= render 'shared/project_tasks', :project => project %>
      <% end %>
  <% end %>
<% else %>
  <%= render 'shared/nav_for_not_users' %>
  <div class="clear"></div>
<% end %>
<div class="add-lists">
  <%= button_to new_project_path, method: :get, class: "btn btn-primary add-todo-list", remote: true do %>
    <span class="glyphicon glyphicon-plus">&nbsp;Add TODO List
  <% end %>
</div>
