<% flash.each do |message_type, message| %>
	$("<div class=\"alert alert-<%= message_type %>\"><%= message %></div>").insertBefore(".dropdown").hide(3000, function(){
		$(this).remove();
	});
<% end %>
$("<%= j(render 'shared/nav_for_not_users') %><div class=\"clear\"></div>").insertBefore(".dropdown");
$('.modal-footer').removeClass('hide');
$(".dropdown").remove();
$(".panel").remove();

