html {
		background-color: #E2E23D;
}
body {
  padding-top: 50px;
	background-color: rgb(216,148,84); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(134,137,136,1) 0%, rgba(216,148,84,1) 44%, rgba(226,226,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,137,136,1)), color-stop(44%,rgba(216,148,84,1)), color-stop(100%,rgba(226,226,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(134,137,136,1) 0%,rgba(216,148,84,1) 44%,rgba(226,226,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(134,137,136,1) 0%,rgba(216,148,84,1) 44%,rgba(226,226,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(134,137,136,1) 0%,rgba(216,148,84,1) 44%,rgba(226,226,61,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(134,137,136,1) 0%,rgba(216,148,84,1) 44%,rgba(226,226,61,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868988', endColorstr='#e2e23d',GradientType=0 ); /* IE6-9 */
}
h1 {
	text-align: center;
}
.col-md-7{
	margin-left: 20%;
}
.calendar {color: #c0a7c2; }
.trash { 
	color: #d42e15; 
	vertical-align: middle;
 }
.pencil {
	color: #d4ca15;
	vertical-align: middle;
 }
.panel { margin-top: 20px;}
.panel-body { padding:0px; }
.panel .glyphicon, .list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.checkbox{
	width: 100%;
}
.list-group-item form{
	margin: 0px -20px;
}
.list-group input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
.form-inline {margin: 10px;}
.form-inline .form-group { width: 100%; }
.form-inline .form-control { width: 50%;}
.list-group-item {padding-left: 30px;}
.dropdown{
	float: right;
}
.add-todo-list{
	position: relative;
  float: left;
  left: 50%;
}
.add-lists{
	margin:20px auto 60px;
	position: relative;
  float: right;
  right: 50%;
}
.clear {
	clear: both;
}
#new_project{
	position: relative;
  float: left;
  left: 50%;
}
.error {
  border-color: red;
 }
.panel-heading .form-inline {margin: 0px;}
.panel-heading .form-inline .form-control { width: 75%;}

.form-inline input[name*=deadline] {
	width: 25%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#error_explanation h2{
	font-size: 16px; 
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}
.action-button{
	visibility: hidden;
	width: 15%;
}

.glyphicon-chevron-up, .glyphicon-chevron-down {
	margin-right: 0px; 
	padding-left: 5px;
	}

.btn-group-priority {
	margin: 0 10px;
  line-height: 0.5;

}
.badge{
	margin-left: 10px;
}
.btn-group-priority button {
  padding: 1px 1px;
  font-size: 6px;
}

.badge-danger {
  background-color: #b94a48;
}
.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.deadline{
	margin-left: 15px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; 
}

.form-control[readonly]{
  cursor: pointer !important;
}

